.container{
    width:100vww;
    height:100vh;
    background-color: blanchedalmond;
    background-image: -moz-repeating-linear-gradient(135deg,#8BC6EC 0% ,#9599E2 100%);
    display:flex;
    justify-content: center;
    align-items: center;

}
*{
    margin: 0;
    padding:0;
}
.card{
    width:360px;
    height:500px;
    background-color: aliceblue;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    gap:40;
    padding:20px;
    display: flex;

}
.card img{
    height: 57% ;
    border-radius: 10px;
}
.card h2{
    font-size: 1.5rem;
    font-weight:bold;
    margin:10px;
    

}
.card p{
    font-size:1.2rem;
    
}

